<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>846412854830-kkjemduuirnkgdtk1umn5jpmani5eg93.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.846412854830-kkjemduuirnkgdtk1umn5jpmani5eg93</string>
	<key>API_KEY</key>
	<string>AIzaSyBQifWDZQNVuG6bZqgHVUK7CubIDKuKM1U</string>
	<key>GCM_SENDER_ID</key>
	<string>846412854830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stcPortal</string>
	<key>PROJECT_ID</key>
	<string>stl-portal</string>
	<key>STORAGE_BUCKET</key>
	<string>stl-portal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846412854830:ios:3728380b8e5f5f353a11bf</string>
</dict>
</plist>